<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css"/>
    <title>Fit For You</title>
</head>
<body>
    <header>
        <h1>Fit For You</h1>
        <nav>
            <a href="/users">Users Index Page</a>
            <br/>
        </nav>
    </header>
    
    <main>
    <div class="exercises">
        <div class="exerciseBlock">
            <div class="row">
            <div class="column">
                <div class="card">
                    <a href="https://imgur.com/7z8ah4B" alt="Blue Shoes"><img src="https://i.imgur.com/7z8ah4B.png?1" title="source: imgur.com" /></a>
                    <h2>Running</h2>
                    <div class="container">
                        <p class='diffCount'>Easy:</p>
                        <p class='diffCount'>Moderate:</p>
                        <p class='diffCount'>Hard:</p>
                    </div>
                    <a class="button" href="/new"><button type="button">Add New Workout</button></a>
                </div>
            </div>
            </div>
        </div>

        <div class="exerciseBlock">
            <div class="row">
            <div class="column">
                <div class="card">
                    <a href="https://imgur.com/jXWvolq" alt="QR Bike (black)"><img src="https://i.imgur.com/jXWvolq.png?1" title="source: imgur.com" /></a>
                    <h2>Cycling</h2>
                    <div class="container">
                        <p class='diffCount'>Easy:</p>
                        <p class='diffCount'>Moderate:</p>
                        <p class='diffCount'>Hard:</p>
                    </div>
                    <a class="button" href="/new"><button type="button">Add New Workout</button></a>
                </div>
            </div>
            </div>
        </div>

        <div class="exerciseBlock">
            <div class="row">
            <div class="column">
                <div class="card">
                    <a href="https://imgur.com/3vX9a3N" alt="Swimming Pool"><img src="https://i.imgur.com/3vX9a3N.jpg?1" title="source: imgur.com" /></a>
                    <h2>Swimming</h2>
                    <div class="container">
                        <p class='diffCount'>Easy:</p>
                        <p class='diffCount'>Moderate:</p>
                        <p class='diffCount'>Hard:</p>
                    </div>
                    <a class="button" href="/new"><button type="button">Add New Workout</button></a>
                </div>
            </div>
        </div>
        </div>
    </div>
    </main>
</body>
</html>