<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css"/>
    <title>Workouts</title>
</head>

<body>
    <h1>Workout Listings</h1>
    <!-- Easy -->
        <!-- showing workouts with difficulty = easy -->
    <!-- Moderate -->
        <!-- showing workouts with difficulty = moderate -->
    <!-- Hard -->
        <!-- showing workouts with difficulty = hard-->
</body>
</html>