<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css"/>
    <title>Workouts</title>
</head>

<body>
    <header>
    <h1>Workout Listings</h1>
    <a href="/users/profile/<%=user.id%>">Return to Profile</a>
    </header>

    <main>
        <ul>
        <% for(let i=0; i<workouts.length; i++) { %>
            <li>
                <a href="/users/profile/<%=user.id%>/workouts/<%=workouts[i].id%>"> <%= workouts[i].activity_name %> </a>
            </li>
            <% } %>
        </ul>
    </main>
</body>
</html>