html {
    box-sizing: border-box;
}
body {
    display:flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    margin-bottom:40px;
}
header{
    /* text-align: center; */
    background-color: lightblue;
    background-size: cover;
    padding: 10px;
    margin: 0;
    border-bottom: 10px solid darkgrey;
}
#headerNav{
    padding:10px;
    float:right;
    border: 3px solid darkblue;
    border-radius: 10px;
    vertical-align: bottom;
}
#headerNav form{
    justify-content: right;
}
/* #headerNav form{
    display:flex;
    flex-direction:column;
    max-width: 300px;
    max-height: 300px;
    justify-content: right;
} */
.userHome h1{
    float:left;
    font-size: 60px;
    color: darkblue;
    -webkit-text-stroke: blue;
    -webkit-text-stroke-width: 2px;
    /* vertical-align: bottom; */
    margin: 0 auto;
    margin-top: 85px;
}
.userHome-form{
    justify-content:right;
    position:relative;
}
footer{
    text-align: right;
    color:white;
    background-color: grey;
    background-size: cover;
    width: 100%;
    padding: 10px;
    position: fixed;
    height: 40px;

    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
#footer{
    margin:0;
    margin-right: 20px;
}
/* --------- Sign-in/Sign-up block ----------*/
input[type="submit"]{
    max-width:150px;
    font-size:15px;
    border-radius:10px;
}
#submit{
    max-width:150px;
    font-size:15px;
    border-radius:10px;
}
/* ----------- Exercise Block ----------------*/
.exercises{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(25%, 1fr));
    padding: 10px;
    /* border: 5px solid Blue; */
}
*, *:before, *:after {
box-sizing: inherit;
}
.exerciseBlock{
    justify-content: space-around;
    width:90%;
    margin:0 auto;
    margin-bottom: 16px;
    /* border: 5px solid darkgrey;
    border-radius:15px; */
}
.column {
    float: left;
    width: 100%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    text-align: center;
    border-radius:20px;
    overflow:hidden;
}
.card img{
    width:100%;
    height:auto;
}
h2{
    font-size: 20px; /* 3vw */
    margin: 0 auto;
    padding: 5px;
}
.container {
    padding: -5px 8px;
    display:flex;
    justify-content: space-evenly;
}
.diffCount {
    color: grey;
    display: inline-block;
}
.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width:100%;
}
.button:hover {
    background-color: #555;
}
/* Media */
@media screen and (max-width: 750px) {
    .exercises{
        grid-template-columns: repeat(auto-fill,minmax(50%, 1fr));
    }
}
@media screen and (max-width: 500px) {
    .exercises{
        grid-template-columns: repeat(auto-fill,minmax(100%, 1fr));
    }
}