header{
    padding: 10px;
}
#title{
    float:left;
    font-size: 30px;
    color: darkblue;
    /* -webkit-text-stroke: blue; */
    -webkit-text-stroke-width: 1px;
    /* vertical-align: bottom; */
    margin: 0 auto;
    margin-top:-30px;
}
#title a{
    font-size: 20px;
}
/* Profile Info Form */
form{
    font-weight: bold;
    font-size: 1.25em;
}
input {
    border: hidden;
    background-color: none;
    font-size: .9em;
}
.no-outline:focus {
    outline: none;
}
#idCheck{
    font-size:20px;
    color: greenyellow;
    background: green;
    width: 200px;
    position:fixed;
    margin-left:15%;
}
#name{
    width:283px;
    margin-left:5px;
}
#username{
    width:240px;
    margin-left:5px;
}
#bio{
    width:305px;
    margin-left:5px;
}
/* New Workout CSS */
.WorkoutBody{
    background: white;
}
.Workout{
    background: lightblue;
    display:flex;
    justify-content:center;
    margin:0 auto;
    margin-top:20%;
    flex-direction:column;
    width:50%;

    border: 5px solid darkgrey;
    border-radius: 10px;
    padding: 10px;
}
.Workout h1{
    margin-top:0
}
.Workout textarea{
    margin:1px;
    width:100%;
}
.Workout #submit{
    margin-top:10px;
    justify-content:center;
    padding:2px;
    width:150px;
    border-radius:10px;
}
/* New Account */
.newAccountBody{
    background: white;
}
.newAccount{
    background: lightblue;
    display:flex;
    justify-content:center;
    margin:0 auto;
    margin-top:20%;
    flex-direction:column;
    width:60%;

    border: 5px solid darkgrey;
    border-radius: 10px;
    padding: 10px;
}
.newAccount h1{
    margin-top:0;
}
.newAccount form input{
    margin:1px;
    width:100%;
    margin-bottom:5px;
}
.newAccount form textarea{
    margin:1px;
    width:100%;
    margin-bottom:5px;
}
.newAccount #submit{
    margin-top:20px;
    margin-left: 40%;
    padding:2px;
    width:15%;
    border-radius:10px;
}