<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css"/>
    <title>User Index Page</title>
</head>
<body>
    <header class='userHome'>
        <h1> Fit For You- Users Page</h1>
        <form action="/auth/login" method="POST">
            Username: <input type="text" name="username" /><br/>
            Password: <input type="text" name="password" /><br/>
            <br/>
            <input type="submit" value="Login"/>
            <a href="/logout"><button type="button">Log out</button></a>
        </form>
        <br/>
        <nav>
            <a href="/auth/signup">Sign Up</a>
        </nav>
    </header>

    <main>
        <div class="exercises">
            <div class="exerciseBlock">
                <div class="row">
                <div class="column">
                    <div class="card">
                        <img src="https://i.imgur.com/7z8ah4B.png?1" title="source: imgur.com"  alt="Blue Shoes"/>
                        <h2>Running</h2>
                    </div>
                </div>
                </div>
            </div>
    
            <div class="exerciseBlock">
              <div class="row">
              <div class="column">
                    <div class="card">
                    <img src="https://i.imgur.com/jXWvolq.png?1" title="source: imgur.com" alt="QR Bike (black)"/>
                    <h2>Cycling</h2>
                    </div>
              </div>
              </div>
            </div>
    
            <div class="exerciseBlock">
                <div class="row">
                <div class="column">
                    <div class="card">
                      <img src="https://i.imgur.com/3vX9a3N.jpg?1" title="source: imgur.com" alt="Swimming Pool" />
                      <h2>Swimming</h2>
                    </div>
                </div>
                </div>
            </div>

            <div class="exerciseBlock">
                <div class="row">
                <div class="column">
                    <div class="card">
                        <img src="https://i.imgur.com/ogtgrUi.png" title="source: imgur.com" alt="Triathlon Symbol" />
                        <h2>Triathlon</h2>
                    </div>
                </div>
                </div>
            </div>

              <div class="exerciseBlock">
                <div class="row">
                <div class="column">
                    <div class="card">
                        <img src="https://i.imgur.com/SExaTOs.png" title="source: imgur.com" alt="Bench Press" />
                        <h2>Weight Lifting</h2>
                    </div>
                </div>
                </div>
              </div>

              <div class="exerciseBlock">
                <div class="row">
                <div class="column">
                    <div class="card">
                        <img src="https://i.imgur.com/jrvyq6f.png?1" title="source: imgur.com" alt="Treadmill" />
                        <h2>Cardio</h2>
                    </div>
                </div>
                </div>
              </div>

              <div class="exerciseBlock">
                <div class="row">
                <div class="column">
                    <div class="card">
                        <img src="https://i.imgur.com/WkGxvB5.png?1" title="source: imgur.com" alt="Man lifting Tire" />
                        <h2>Cross Fit</h2>
                    </div>
                </div>
                </div>
              </div>

              <div class="exerciseBlock">
                <div class="row">
                <div class="column">
                    <div class="card">
                        <img src="https://i.imgur.com/1lk1VKO.png?1" title="source: imgur.com" alt="Man climbing rock" />
                        <h2>Climbing</h2>
                    </div>
                </div>
                </div>
              </div>

              <div class="exerciseBlock">
                <div class="row">
                <div class="column">
                    <div class="card">
                        <img src="https://i.imgur.com/DV28wdB.png?1" title="source: imgur.com" alt="Yoga pose" />
                        <h2>Yoga</h2>
                    </div>
                </div>
                </div>
              </div>
        </div>
      </main>

    <footer>
        <p id="footer">© 2020 Zach Tacy</p>
    </footer>
</body>
</html>