<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css"/>
    <title>User Index Page</title>
</head>
<body>
    < Fit For You- Users Page
    <nav>
        <a href="/signup">Sign Up</a>
        <a href="/login">Log In</a>
        <a href="/logout">Log Out</a>
      </nav>
</body>
</html>